<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Vantage API Stock Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Alpha Vantage Stock Dashboard</h1>
    <div>
        <input type="text" id="stock-symbol" placeholder="Enter stock ticker (e.g., AAPL)">
        <button id="fetch-data">Get Stock Data</button>
    </div>
    <div id="loading" style="display: none; color: blue;">Loading...</div>
    <div id="output">
        <h2>Stock Data</h2>
        <p id="error-message" style="color: red;"></p>
        <table>
            <tr><th>Symbol</th><td id="symbol"></td></tr>
            <tr><th>Date</th><td id="date"></td></tr>
            <tr><th>Open</th><td id="open"></td></tr>
            <tr><th>High</th><td id="high"></td></tr>
            <tr><th>Low</th><td id="low"></td></tr>
            <tr><th>Close</th><td id="close"></td></tr>
            <tr><th>Volume</th><td id="volume"></td></tr>
        </table>
    </div>

    <div class="technical-container">
        <h2>Technical Indicators</h2>
        <p id="technical-error-message" style="color: red;"></p>

        <div>
            <h2>SMA Data</h2>
            <h3>Set up for 10 daily </h3>
            <ul id="sma-data"></ul>
        </div>

        <div>
            <h2>EMA Data</h2>
            <h3>Set up for 10 daily </h3>
            <ul id="ema-data"></ul>
        </div>

    </div>
    



    

    <canvas id="stockChart" width="400" height="200" style="margin-top: 20px;"></canvas>
    <script src="/static/script.js"></script>
</body>
</html>
